<meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGCEE - Painel de Administração</title>

  <link rel="stylesheet" href="http://localhost:8888/sys/css/normalize.css">
  <link rel="stylesheet" href="http://localhost:8888/sys/css/estilo.css">
  <link rel="stylesheet" href="http://localhost:8888/sys/css/foundation.css">
  <link rel="stylesheet" href="http://localhost:8888/sys/css/icons.css">
  <script src="http://localhost:8888/sys/js/vendor/modernizr.js"></script>