<!DOCTYPE html>
<html>
    <head>
        {% include "sistema/header.html.twig" %}
    </head>

    <body>


        <!-- ########################################################## -->
        <!-- #                      CONTEÚDO                          # -->
        <!-- ########################################################## -->
        <section class="content-all">

            {% block content %}{% endblock %}

        </section><!-- /.content-all -->

    </body>
</html>
