{% extends "sistema/layoutLogado.html.twig" %}
{% block content %}
    <section class="container">

		<h3>Olá {{ administradorLogado.nome }}, seja bem vindo ao painel de administração do SGCEE. Através do menu à esquerda você tem acesso aos cadastros do sistema.</h3>

    </section>
{% endblock %}